Connected Services/ServiceReferenceEVurdering/BASIS_eFPIDetailsErrorType.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:basis="http://efpi.dk/basis/xml/schemas/2007/07/01/" xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-e-vurderingspakke.e-nettet.dk:443/efpi/prismodel/PrisModel.URS?xsd=../../../../basis/xml/schemas/2007/07/01/BASIS_errorlocation.xsd" />
  <element name="error" type="tns:eFPIDetailsErrorType" />
  <complexType name="eFPIDetailsErrorType">
    <sequence>
      <element ref="tns:errorlocation" />
      <element minOccurs="0" name="errordetails" type="anyType" />
      <element minOccurs="0" name="logcorrelation" type="string" />
    </sequence>
  </complexType>
</schema>